language: python
sudo: required
python:
  - 2.7
  - 3.4
  - 3.5

# 3.7 is not supported on the travis matrix yet
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true

before_install:
  # rabbitmq is not present for 3.7 builds until travis fixes this
  - sudo apt-get install rabbitmq-server || true
services:
  - rabbitmq
install:
  - sudo pip install -U pipenv
  - pipenv install --dev
script:
  - pipenv run ./run_integration_tests.sh
